@using Models.CRMModels
@model IEnumerable<ContactsModel>
@{
    ViewData["Title"]="Dashboard";
    Layout="_CRMLayout";
}
<h1 class="h3 mb-2 text-gray-800">Contacts</h1>
@* <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> *@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    
    <div class="card-header py-3 d-sm-inline-block">
        @* <h6 class="m-0 font-weight-bold text-primary">Contact List</h6> *@
        <a href="#" data-toggle="modal" data-target="#addContactModal">
            <i class="text-right fas fa-plus fa-2x float-right"></i>
        </a>
    </div>  
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Contact ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Phone 2</th>
                        <th>Address1</th>
                        <th>Address2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ContactID</td>
                            <td>@item.First</td>
                            <td>@item.Last</td>
                            <td>@item.PrimaryPhone</td>
                            <td>@item.PrimaryEmail</td>
                            <td>@item.Address1</td>
                            <td>@item.Address2</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
  <!-- Logout Modal-->
  <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Sign Out" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" method="POST">
                    <button id="logout" type="submit" class="btn btn-primary">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
  </div>
<link rel="stylesheet" href="~/css/datatable.min.css" />

@section scripts {

    <!-- Page level plugins
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        -->
    <script src="~/js/datatables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

}