@using Models.CRMModels
@model ContactsModel
@{
    ViewData["Title"]="Dashboard";
    Layout="_CRMLayout";
    
}
<h1 class="h3 mb-2 text-gray-800">Contacts</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-inline-block">
        <a href="#" data-toggle="modal" data-target="#addContactModal">
            <i class="text-right fas fa-plus fa-2x float-right"></i>
        </a>
    </div>  
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Contact ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Phone 2</th>
                        <th>Address1</th>
                        <th>Address2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ContactData)
                    {
                        <tr>
                            <td>@item.ContactID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@string.Format("{0:(###) ###-####}",Decimal.Parse(item.PrimaryPhone))</td>
                            <td>@item.PrimaryEmail</td>
                            <td>@item.Address1</td>
                            <td>@item.Address2</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
  <!-- Logout Modal-->
  <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="CreateEditContact" class="user" asp-controller="CRM" asp-action="CreateContact" method="POST">
                <div class="modal-body">
                    <div class="form-group custom-row">
                        <div class="col-sm-custom">
                            <Select class="form-control form-control-dropdown" asp-for="Prefix" style="height:50px" id="test">
                                <option value="">Prefix</option>
                                <option value="1st Lt">1st Lt</Option>
                                <option value="Adm">Adm</Option>
                                <option value="Atty">Atty</Option>
                                <option value="Brother">Brother</Option>
                                <option value="Capt">Capt</Option>
                                <option value="Chief">Chief</Option>
                                <option value="Cmdr">Cmdr</Option>
                                <option value="Col">Col</Option>
                                <option value="Dean">Dean</Option>
                                <option value="Dr">Dr</Option>
                                <option value="Elder">Elder</Option>
                                <option value="Father">Father</Option>
                                <option value="Gen">Gen</Option>
                                <option value="Gov">Gov</Option>
                                <option value="Hon">Hon</Option>
                                <option value="Lt Col">Lt Col</Option>
                                <option value="Maj">Maj</Option>
                                <option value="MSgt">MSgt</Option>
                                <option value="Mr">Mr</Option>
                                <option value="Mrs">Mrs</Option>
                                <option value="Ms">Ms</Option>
                                <option value="Pastor">Pastor</Option>
                                <option value="Prince">Prince</option>
                                <option value="Prof">Prof</Option>
                                <option value="Rabbi">Rabbi</Option>
                                <option value="Rev">Rev</Option>
                                <option value="Sister">Sister</Option>
                            </Select>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="FirstName" class="form-control form-control-user" placeholder="First Name" />
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="LastName" class="form-control form-control-user" placeholder="Last Name" />
                        </div>
                        <div class="col-sm-custom">
                            <Select class="form-control form-control-dropdown" asp-for="Suffix" style="height:50px" id="test">
                                <option value="" >Suffix</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="CPA">CPA</option>
                                <option value="DDS">DDS</option>
                                <option value="Esq">Esq</option>
                                <option value="JD">JD</option>
                                <option value="Jr">Jr</option>
                                <option value="LLD">LLD</option>
                                <option value="MD">MD</option>
                                <option value="PhD">PhD</option>
                                <option value="Ret">Ret</option>
                                <option value="RN">RN</option>
                                <option value="Sr">Sr</option>
                                <option value="DO">DO</option>
                            </Select>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Spouse_Name" class="form-control form-control-user" placeholder="Spouse Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Address1" class="form-control form-control-user" placeholder="Address1" />                
                    </div>  
                    <div class="form-group">
                        <input asp-for="Address2" class="form-control form-control-user" placeholder="Address2" />                
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <input asp-for="City" class="form-control form-control-user" placeholder="City" />                
                        </div> 
                        <div class="form-group col-sm-4">
                            <input asp-for="State" class="form-control form-control-user" placeholder="State" />                
                        </div> 
                        <div class="form-group col-sm-4">
                            <input asp-for="Zip" class="form-control form-control-user" placeholder="Zip" />                
                        </div>
                    </div> 
                     <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <input asp-for="Country" class="form-control form-control-user" placeholder="Country" />                
                        </div> 
                        <div class="form-group col-sm-6">
                            <input asp-for="Province" class="form-control form-control-user" placeholder="Province" />                
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <input asp-for="PrimaryPhone" class="form-control form-control-user" placeholder="Primary Phone" />                
                        </div> 
                        <div class="form-group col-sm-6">
                            <input asp-for="SecondaryPhone" class="form-control form-control-user" placeholder="Secondary Phone" />                
                        </div> 
                    </div>  

                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <input asp-for="PrimaryEmail" class="form-control form-control-user" placeholder="Primary Email" />                
                        </div> 
                        <div class="form-group col-sm-6">
                            <input asp-for="SecondaryEmail" class="form-control form-control-user" placeholder="Secondary Email" />                
                        </div>
                    </div>      

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        
                        <button id="logout" type="submit" class="btn btn-primary">Add Contact</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
  </div>

<link rel="stylesheet" href="~/css/datatable.min.css" />

@section scripts {

    <!-- Page level plugins
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        -->
    <script src="~/js/datatables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

}