@using Microsoft.AspNetCore.Identity
@using CRM.Models.AdminModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ManageUsersModel
@{
    ViewData["Title"]="Manage Users";
    Layout="_CRMLayout";
}
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <h5 class="card-header text-uppercase" role="tab" id="headingOne">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed d-block">
        <i class="fas fa-chevron-down float-right"></i> All Users
      </a>
    </h5>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="AllUsersTable" width="100%">
            <thead>
              <tr>
                <th style="display:none;">GUID</th>
                <th class="text-center" style="width:20">Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Franchise</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in ViewBag.UserData)
                {
                <tr class="SelectedUser" data-toggle="modal" data-target="#EditUserModal">
                    <td id="Test" style="display:none;">@item.GUID</td>
                    <td class="text-center"><img class="img-profile rounded-circle" src="@item.Profile" alt="Not Found" onerror=this.src="/img/Profile_Pictures/Default.png" height="30" width="30" /></td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Franchise</td>
                    <td>@item.Role</td>
                </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="card">
    <h5 class="card-header text-uppercase" role="tab" id="headingTwo">
      <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <i class="fas fa-chevron-down float-right"></i> Administrators
     </a>
    </h5>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="AdminTable" width="100%">
            <thead>
              <tr>
                <th style="display:none;">GUID</th>
                <th class="text-center" style="width:20">Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Franchise</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in ViewBag.UserData)
                {
                  @if(item.Role == "Admin")
                    {
                      <tr class="SelectedUser">
                        <td style="display:none;">@item.GUID</td>
                        <td class="text-center"><img class="img-profile rounded-circle" src="@item.Profile" alt="Not Found" onerror=this.src="/img/Profile_Pictures/Default.png" height="30" width="30" /></td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Franchise</td>
                        <td>@item.Role</td>
                      </tr>
                    }
                }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header text-uppercase" role="tab" id="headingThree">
      <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <i class="fas fa-chevron-down float-right"></i> Members
      </a>
    </h5>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="MembersTable" width="100%">
            <thead>
              <tr>
                <th style="display:none;">GUID</th>
                <th class="text-center" style="width:20">Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Franchise</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.UserData)
              {
                @if(item.Role == "Member")
                  {
                    <tr class="SelectedUser">
                      <td style="display:none;">@item.GUID</td>
                      <td class="text-center"><img class="img-profile rounded-circle" src="@item.Profile" alt="Not Found" onerror=this.src="/img/Profile_Pictures/Default.png" height="30" width="30" /></td>
                      <td>@item.FirstName</td>
                      <td>@item.LastName</td>
                      <td>@item.Email</td>
                      <td>@item.Franchise</td>
                      <td>@item.Role</td>
                    </tr>
                    }
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit User Modal-->
<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="EditUser" class="user" asp-controller="Admin" asp-action="EditUser" method="POST">
                <div class="modal-body">
                    <div id="EditUserResults" class="form-group">
                        <div class="col">
                            <label>User ID:</label>
                            <input id="jsGUID" asp-for="FirstName" class="form-control form-control-user" disabled/>
                        </div>
                        <div class="col">
                            <label>First Name:</label>
                            <input id="jsFirstName" asp-for="FirstName" class="form-control form-control-user" />
                        </div>
                        <div class="col">
                            <label>Last Name:</label>
                            <input id="jsLastName" asp-for="LastName" class="form-control form-control-user" />
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input id="jsEmail" asp-for="Email" class="form-control form-control-user" />
                        </div>
                        <div class="col">
                            <label>Franchise:</label>
                            <input id="jsFranchise" asp-for="Franchise" class="form-control form-control-user" />
                        </div>
                        <br>
                        <div class="form-group row">
                          <div class="col-sm-3 custom-control custom-checkbox"">
                              <input class="custom-control-input" type="checkbox" id="jsRoleAdmin" name="RoleCheckBox" asp-for="Role" onclick="RoleFunction(this)" />
                              <label class="custom-control-label">Admin</label>                         
                          </div>
                            <div class="col-sm-3 custom-control custom-checkbox"">
                              <input class="custom-control-input" type="checkbox" id="jsRoleManager" name="RoleCheckBox" asp-for="Role" onclick="RoleFunction(this)" />
                              <labe class="custom-control-label"l>Manager</label>                         
                          </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                              <input class="custom-control-input" type="checkbox" id="jsRoleMember" name="RoleCheckBox" asp-for="Role" onclick="RoleFunction(this)" />
                              <label class="custom-control-label">Member</label>                         
                          </div>



                        @* <div class="form-group row">
                          <div class="col-sm-3">
                              <input type="checkbox" id="jsRoleAdmin">
                              <label>Admin</label>                         
                          </div>
                            <div class="col-sm-3">
                              <input type="checkbox" id="jsRoleManager">
                              <label>Manager</label>                         
                          </div>
                            <div class="col-sm-3">
                              <input type="checkbox" id="jsRoleMember">
                              <label>Member</label>                         
                          </div> *@
                        </div>
                   <br>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button id="logout" type="submit" class="btn btn-primary">Update User</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/datatable.min.css" />
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/datatables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/site.js"></script>
    
 }

